<%= simple_form_for(@employee) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, :label => "Nom" %>
    <%= f.input :first_name, :label => "Prénom" %>
    <strong><%= "Statut " %></strong>
    <%= f.select :status, options_for_select(["Intérim","Employé"],:disabled => ["Select One"]), :class => 'genForm_dropBox' %>
    <%= f.input :schedule, :label => "Nombre d'heures à prester par mois" %>
  </div>

  <div class="form-actions">
    <%= f.submit "Enregistrer", class: "btn btn-success" %>
  </div>
  <hr>
<% end %>
