<% if user_signed_in? %>

  <h1>Travailleurs enregistrés</h1>

  <%= link_to 'Ajouter un travailleur', new_employee_path, class: "btn btn-default" %>

    <div class="table-responsive">
      
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nom et prénom</th>
            <th>Statut</th>
            <th class="text-center">Situation actuelle</th>
            <th class="text-center">Total Mois en cours</th>
            <th colspan="5"></th>
          </tr>
        </thead>

        <tbody>
          <% @employees.each do |employee| %>
            <tr>
              <td><%= employee.id %></td>
              
              <td><%= link_to employee.full_name, employee_path(employee), class: "btn btn-xs btn-link" %>
                <%= link_to edit_employee_path(employee) do %>
                <span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
                <% end %></td>

              <td><%= employee.status %></td>

              <td class="text-center">
                <% if employee.attendances.last %>
                  <%= employee.attendances.last.content_display %>
                <% else %>
                  Absent(e)
                <% end %>
              </td>

              <td class="text-center"><%= employee.display_duration_entree_current_month %></td>
                          
              <!-- <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>

<% else %>

<div class="container">

  <h1 class="text-center">
  <%= Time.now.strftime("%A %d/%m/%Y") %><br>
  <%= Time.now.strftime("%H:%M") %>
  </h1>

  <div class="row">
    
      <% @employees.each do |employee| %>

        <div class="col-xs-6 col-md-4">

            
            <% unless employee.attendances.last && Time.now - employee.attendances.last.created_at < 1.minute %>
              <%= link_to employee.full_name, employee_path(employee), class: "btn btn-lg btn-default btn-block" %>
            <% else %>
              
              <button type="button" class="btn btn-default btn-lg btn-block" disabled="disabled">
                <%= employee.full_name %>
              </button>
            <% end %>
            
        </div>

      <% end %>

  </div>



</div>

<br>
<br>
<br>
<br>


<div class="container text-center">

<%= button_to "Cliquez ici si votre nom n'est pas actif", employees_path, :method => :get, class: "btn btn-lg btn-success btn-block" %>

</div>


<% end %>

 