<% if user_signed_in? %>




<h4><%= @employee.name %> <%= @employee.first_name %><br>
Status: <%= @employee.status %>
Code de validation: <%= @employee.validation_code %><h4>

<div class="container-fluid">

  
    <div class="col-md-12">
      <%= Date.today.strftime("%A %d/%m/%Y") %>
    </div>

      <% @employee.sorties.this_day.each do |sortie| %>

        <div class="row">
        <div class="col-md-4">
          <%= @entrees.where("created_at < ?", sortie.created_at).last.created_at.strftime("%H:%M") %>

          <%= link_to edit_attendance_path(@entrees.where("created_at < ?", sortie.created_at).last) do %>
            <span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
            <% end %>
        </div>

        <div class="col-md-4">
          <%= sortie.created_at.strftime("%H:%M") %>

          <%= link_to edit_attendance_path(sortie) do %>
            <span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
            <% end %>

        </div>

        <div class="col-md-4">
          <%= @employee.display_duration(sortie) %></div>

        </div>

    	<% end %><br>

    <div class="col-md-12">
      <%= Date.current.yesterday.strftime("%A %d/%m/%Y") %>
    </div><br>

      <% @employee.sorties.one_day_before.each do |sortie| %>
    
        <div class="row">
          <div class="col-md-4">      
            <%= @entrees.where("created_at < ?", sortie.created_at).last.created_at.strftime("%H:%M") %>

            <%= link_to edit_attendance_path(@entrees.where("created_at < ?", sortie.created_at).last) do %>
              <span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
            <% end %>
          </div>

          <div class="col-md-4">
            <%= sortie.created_at.strftime("%H:%M") %>

            <%= link_to edit_attendance_path(sortie) do %>
              <span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
            <% end %>
          </div>

          <div class="col-md-4">
            <%= @employee.display_duration(sortie) %></div>

        </div>

      <% end %><br>

    <div class="col-md-12">
    <%= 2.days.ago.strftime("%A %d/%m/%Y") %>
    </div><br>

        <% @employee.sorties.two_days_before.each do |sortie| %>

          <div class="row">
            <div class="col-md-4">  
              <%= @entrees.where("created_at < ?", sortie.created_at).last.created_at.strftime("%H:%M") %>
            
              <%= link_to edit_attendance_path(@entrees.where("created_at < ?", sortie.created_at).last) do %>
                <span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
              <% end %>
            </div>

            <div class="col-md-4">
              <%= sortie.created_at.strftime("%H:%M") %>

              <%= link_to edit_attendance_path(sortie) do %>
                <span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
              <% end %>
            </div>

            <div class="col-md-4">
              <%= @employee.display_duration(sortie) %></div>

          </div>

        <% end %><br>

    <div class="col-md-12">  
    <%= 3.days.ago.strftime("%A %d/%m/%Y") %>
    </div><br>

       	<% @employee.sorties.three_days_before.each do |sortie| %>
          
          <div class="row">    
            <div class="col-md-4">  
              <%= @entrees.where("created_at < ?", sortie.created_at).last.created_at.strftime("%H:%M") %>

              <%= link_to edit_attendance_path(@entrees.where("created_at < ?", sortie.created_at).last) do %>
                  <span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
                <% end %>
              </div>

            <div class="col-md-4">
              <%= sortie.created_at.strftime("%H:%M") %>

              <%= link_to edit_attendance_path(sortie) do %>
                <span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
              <% end %>
            </div>

            <div class="col-md-4">
              <%= @employee.display_duration(sortie) %></div>

          </div>

        <% end %><br>    

    <div class="col-md-12">
  	 <%= 4.days.ago.strftime("%A %d/%m/%Y") %>
    </div><br>

        	<% @employee.sorties.four_days_before.each do |sortie| %>
            
            <div class="row">  
              <div class="col-md-4">  
                <%= @entrees.where("created_at < ?", sortie.created_at).last.created_at.strftime("%H:%M") %>

                <%= link_to edit_attendance_path(@entrees.where("created_at < ?", sortie.created_at).last) do %>
                  <span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
                <% end %>
              </div>

              <div class="col-md-4">
                <%= sortie.created_at.strftime("%H:%M") %>

                <%= link_to edit_attendance_path(sortie) do %>
                  <span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
                <% end %>
              </div>

              <div class="col-md-4">
                <%= @employee.display_duration(sortie) %></div>

            </div>

          <% end %><br>    

    <div class="col-md-12">
  	 <%= 5.days.ago.strftime("%A %d/%m/%Y") %>
    </div><br>
      
        	<% @employee.sorties.five_days_before.each do |sortie| %>
             
            <div class="row">  
              <div class="col-md-4">  
                <%= @entrees.where("created_at < ?", sortie.created_at).last.created_at.strftime("%H:%M") %>

                <%= link_to edit_attendance_path(@entrees.where("created_at < ?", sortie.created_at).last) do %>
                  <span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
                <% end %>
              </div>

              <div class="col-md-4">
                <%= sortie.created_at.strftime("%H:%M") %>

                <%= link_to edit_attendance_path(sortie) do %>
                  <span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
                <% end %>
              </div>

              <div class="col-md-4">
                <%= @employee.display_duration(sortie) %></div>

            </div>

          <% end %><br>

    <div class="col-md-12">
  	 <%= 6.days.ago.strftime("%A %d/%m/%Y") %>
    </div><br>
      
        	<% @employee.sorties.six_days_before.each do |sortie| %>
            
            <div class="row">  
              <div class="col-md-4">  
                <%= @entrees.where("created_at < ?", sortie.created_at).last.created_at.strftime("%H:%M") %>

                <%= link_to edit_attendance_path(@entrees.where("created_at < ?", sortie.created_at).last) do %>
                  <span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
                <% end %>
              </div>

              <div class="col-md-4">
                <%= sortie.created_at.strftime("%H:%M") %>

                <%= link_to edit_attendance_path(sortie) do %>
                  <span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
                <% end %>
              </div>

              <div class="col-md-4">
                <%= @employee.display_duration(sortie) %></div>

            </div>

          <% end %><br>

      <div class="col-md-12">
        <%= 7.days.ago.strftime("%A %d/%m/%Y") %>
      </div><br>
      
        	<% @employee.sorties.seven_days_before.each do |sortie| %>
            
            <div class="row">  
              <div class="col-md-4">  
                <%= @entrees.where("created_at < ?", sortie.created_at).last.created_at.strftime("%H:%M") %>

                <%= link_to edit_attendance_path(@entrees.where("created_at < ?", sortie.created_at).last) do %>
                  <span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
                <% end %>
              </div>

              <div class="col-md-4">
                <%= sortie.created_at.strftime("%H:%M") %>

                <%= link_to edit_attendance_path(sortie) do %>
                  <span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
                <% end %>
              </div>

              <div class="col-md-4">
                <%= @employee.display_duration(sortie) %></div>

            </div>

          <% end %><br>

      <div class="col-md-12">
        <%= 8.days.ago.strftime("%A %d/%m/%Y") %>
      </div><br>
      
          <% @employee.sorties.eight_days_before.each do |sortie| %>
            
            <div class="row">  
              <div class="col-md-4">  
                <%= @entrees.where("created_at < ?", sortie.created_at).last.created_at.strftime("%H:%M") %>

                <%= link_to edit_attendance_path(@entrees.where("created_at < ?", sortie.created_at).last) do %>
                  <span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
                <% end %>
              </div>

              <div class="col-md-4">
                <%= sortie.created_at.strftime("%H:%M") %>

                <%= link_to edit_attendance_path(sortie) do %>
                  <span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
                <% end %>
              </div>

              <div class="col-md-4">
                <%= @employee.display_duration(sortie) %></div>

            </div>

          <% end %><br>

      <div class="col-md-12">
        <%= 9.days.ago.strftime("%A %d/%m/%Y") %>
      </div><br>
      
          <% @employee.sorties.nine_days_before.each do |sortie| %>
            
            <div class="row">  
              <div class="col-md-4">  
                <%= @entrees.where("created_at < ?", sortie.created_at).last.created_at.strftime("%H:%M") %>

                <%= link_to edit_attendance_path(@entrees.where("created_at < ?", sortie.created_at).last) do %>
                  <span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
                <% end %>
              </div>

              <div class="col-md-4">
                <%= sortie.created_at.strftime("%H:%M") %>

                <%= link_to edit_attendance_path(sortie) do %>
                  <span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
                <% end %>
              </div>

              <div class="col-md-4">
                <%= @employee.display_duration(sortie) %></div>

            </div>

          <% end %><br>

      <div class="col-md-12">
        <%= 10.days.ago.strftime("%A %d/%m/%Y") %>
      </div><br>
      
          <% @employee.sorties.ten_days_before.each do |sortie| %>
            
            <div class="row">  
              <div class="col-md-4">  
                <%= @entrees.where("created_at < ?", sortie.created_at).last.created_at.strftime("%H:%M") %>

                <%= link_to edit_attendance_path(@entrees.where("created_at < ?", sortie.created_at).last) do %>
                  <span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
                <% end %>
              </div>

              <div class="col-md-4">
                <%= sortie.created_at.strftime("%H:%M") %>

                <%= link_to edit_attendance_path(sortie) do %>
                  <span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
                <% end %>
              </div>

              <div class="col-md-4">
                <%= @employee.display_duration(sortie) %></div>

            </div>

          <% end %><br>

      <div class="col-md-12">
        <%= 11.days.ago.strftime("%A %d/%m/%Y") %>
      </div><br>
      
          <% @employee.sorties.eleven_days_before.each do |sortie| %>
            
            <div class="row">  
              <div class="col-md-4">  
                <%= @entrees.where("created_at < ?", sortie.created_at).last.created_at.strftime("%H:%M") %>

                <%= link_to edit_attendance_path(@entrees.where("created_at < ?", sortie.created_at).last) do %>
                  <span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
                <% end %>
              </div>

              <div class="col-md-4">
                <%= sortie.created_at.strftime("%H:%M") %>

                <%= link_to edit_attendance_path(sortie) do %>
                  <span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
                <% end %>
              </div>

              <div class="col-md-4">
                <%= @employee.display_duration(sortie) %></div>

            </div>

          <% end %><br>

      <div class="col-md-12">
        <%= 12.days.ago.strftime("%A %d/%m/%Y") %>
      </div><br>
      
          <% @employee.sorties.twelve_days_before.each do |sortie| %>
            
            <div class="row">  
              <div class="col-md-4">  
                <%= @entrees.where("created_at < ?", sortie.created_at).last.created_at.strftime("%H:%M") %>

                <%= link_to edit_attendance_path(@entrees.where("created_at < ?", sortie.created_at).last) do %>
                  <span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
                <% end %>
              </div>

              <div class="col-md-4">
                <%= sortie.created_at.strftime("%H:%M") %>

                <%= link_to edit_attendance_path(sortie) do %>
                  <span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
                <% end %>
              </div>

              <div class="col-md-4">
                <%= @employee.display_duration(sortie) %></div>

            </div>

          <% end %><br>

      <div class="col-md-12">
        <%= 13.days.ago.strftime("%A %d/%m/%Y") %>
      </div><br>
      
          <% @employee.sorties.thirteen_days_before.each do |sortie| %>
            
            <div class="row">  
              <div class="col-md-4">  
                <%= @entrees.where("created_at < ?", sortie.created_at).last.created_at.strftime("%H:%M") %>

                <%= link_to edit_attendance_path(@entrees.where("created_at < ?", sortie.created_at).last) do %>
                  <span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
                <% end %>
              </div>

              <div class="col-md-4">
                <%= sortie.created_at.strftime("%H:%M") %>

                <%= link_to edit_attendance_path(sortie) do %>
                  <span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
                <% end %>
              </div>

              <div class="col-md-4">
                <%= @employee.display_duration(sortie) %></div>

            </div>

          <% end %><br>

      <div class="col-md-12">
        <%= 14.days.ago.strftime("%A %d/%m/%Y") %>
      </div><br>
      
          <% @employee.sorties.fourteen_days_before.each do |sortie| %>
            
            <div class="row">  
              <div class="col-md-4">  
                <%= @entrees.where("created_at < ?", sortie.created_at).last.created_at.strftime("%H:%M") %>

                <%= link_to edit_attendance_path(@entrees.where("created_at < ?", sortie.created_at).last) do %>
                  <span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
                <% end %>
              </div>

              <div class="col-md-4">
                <%= sortie.created_at.strftime("%H:%M") %>

                <%= link_to edit_attendance_path(sortie) do %>
                  <span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
                <% end %>
              </div>

              <div class="col-md-4">
                <%= @employee.display_duration(sortie) %></div>

            </div>

          <% end %><br>

</div>

<% else %>

<div class="jumbotron">

<p>
  <strong>Nom:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Prénom:</strong>
  <%= @employee.first_name %>
</p>

<p>
  <strong>Statut:</strong>
  <%= @employee.status %>
</p>

<p>
  <strong><%= @employee.last_move_content %> le <%= @employee.last_move_day %> <%= @employee.last_move_time.strftime("%d/%m/%Y") %> à <%= @employee.last_move_time.strftime("%H:%M") %></strong>
 </p>

</div>

<h1 class="text-center">
<%= Time.now.strftime("%A %d/%m/%Y") %><br>
<%= Time.now.strftime("%H:%M") %>
</h1>

<h3 class="text-center">

	<% if @employee.attendances.any? && @employee.attendances.last.content == "entree" %>
	<%# Si utilisateur déjà in, bouton sortie %>

		<%= simple_form_for(@attendance) do |f| %>
		  <%= f.error_notification %>    

		  	<%= f.hidden_field :employee_id, :value => @employee.id %>
		  	<%= f.hidden_field :validation_code, :value => @employee.validation_code %>
		    <%= f.hidden_field :content, :value => "sortie" %>	 

		  <div class="form-actions">
		    <%= f.submit "Sortie", class: "btn btn-success btn-lg" %>
		  </div>

		<% end %><br> 
		<strong><%= @employee.first_name %>, pour l'instant, vous êtes dedans.</strong>

	<% else %>
	<%# Si utilisateur out, bouton entrée %>
		<%= simple_form_for(@attendance) do |f| %>
		  <%= f.error_notification %>	
		  	<%= f.hidden_field :employee_id, :value => @employee.id %>    
		    <%= f.hidden_field :content, :value => "entree" %>	  
		  <div class="form-actions">
		    <%= f.submit "Entrée", class: "btn btn-success btn-lg" %>
		  </div>
		<% end %><br> 
		<strong><%= @employee.first_name %>, pour l'instant, vous êtes dehors.</strong>

	<% end %>

</h3>
<p>
<h4 class="text-center">
<%= link_to 'Retour', employees_path, class: "btn btn-warning btn-lg" %>
</h4>
</p>

<% end %>