<h3>Welcome</h3>
<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>

<% unless user_signed_in? %>

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>
      
      <%= devise_error_messages! %>
        <%= f.label :email %>
        <%= f.email_field :email, :value => "test@test.com" %>
     
        <%= f.label :password %>
        <%= f.password_field :password, :value => "12345678" %>
      
        <%= f.submit '#user.first_name', :class => 'button right' %>
    <% end %>

  <% end %>