<% if user_signed_in? %>

<%= link_to "Enregistrer le rapport (PDF)", users_path(@user, format: "pdf"), class: "btn btn-default" %>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-xs-6">

      <h4 class="text-center"><strong>Intérimaires</strong></h4>

      <h5>Rapport de la semaine <%= 6.days.ago.beginning_of_week.strftime("%W") %><br><br>
        Du lundi <%= 6.days.ago.beginning_of_week.strftime("%d/%m/%Y") %> au dimanche <%= (6.days.ago.beginning_of_week + 6.days).strftime("%d/%m/%Y") %>
      </h5>

        <% @employees.where(:status => "Interim").each do |employee| %>

          <% if employee.duration_entree_last_week > 0 %>

            <h5><strong><%= employee.full_name %></strong></h5>


            <div class="row">
              <div class="col-md-6 col-xs-6">
                <ul class="list-group">
                  <li class="list-group-item">

                  Lundi <%= 6.days.ago.beginning_of_week.strftime("%d/%m/%Y") %><br> 
                  Mardi <%= (6.days.ago.beginning_of_week + 1.day).strftime("%d/%m/%Y") %><br> 
                  Mercredi <%= (6.days.ago.beginning_of_week + 2.days).strftime("%d/%m/%Y") %><br> 
                  Jeudi <%= (6.days.ago.beginning_of_week + 3.days).strftime("%d/%m/%Y") %><br> 
                  Vendredi <%= (6.days.ago.beginning_of_week + 4.days).strftime("%d/%m/%Y") %><br> 
                  Samedi <%= (6.days.ago.beginning_of_week + 5.days).strftime("%d/%m/%Y") %><br> 
                  Dimanche <%= (6.days.ago.beginning_of_week + 6.days).strftime("%d/%m/%Y") %><br> 
                  <strong>Total de la semaine</strong>
                  </li>
                </ul>
              </div>

                  
                  
              <div class="col-md-6 col-xs-6">
                <ul class="list-group">
                  <li class="list-group-item text-center">
                  <%= employee.display_duration_entree_last_monday %><br> 
                  <%= employee.display_duration_entree_last_tuesday %><br>                  
                  <%= employee.display_duration_entree_last_wednesday %><br>                  
                  <%= employee.display_duration_entree_last_thursday %><br>
                  <%= employee.display_duration_entree_last_friday %><br>                  
                  <%= employee.display_duration_entree_last_saturday %><br>                  
                  <%= employee.display_duration_entree_last_sunday %><br>                 
                  <strong><%= employee.display_duration_entree_last_week %></strong>
                  </li>
                </ul>
              </div>
            </div>

          <% else %>

          <% end %>
         
        <% end %>
    </div>

    <div class="col-md-6 col-xs-6">
      <h4 class="text-center"><strong>Employés</strong></h4>

      <h5>Rapport de la semaine <%= 6.days.ago.beginning_of_week.strftime("%W") %><br><br>
        Du lundi <%= 6.days.ago.beginning_of_week.strftime("%d/%m/%Y") %> au dimanche <%= (6.days.ago.beginning_of_week + 6.days).strftime("%d/%m/%Y") %>
      </h5>

        <% @employees.where(:status => "Employe").each do |employee| %>

          <% if employee.duration_entree_last_week > 0 %>

              <h5><strong><%= employee.full_name %></strong></h5>

              <div class="row">
              <div class="col-md-6 col-xs-6">
                <ul class="list-group">
                  <li class="list-group-item">

                  Lundi <%= 6.days.ago.beginning_of_week.strftime("%d/%m/%Y") %><br> 
                  Mardi <%= (6.days.ago.beginning_of_week + 1.day).strftime("%d/%m/%Y") %><br> 
                  Mercredi <%= (6.days.ago.beginning_of_week + 2.days).strftime("%d/%m/%Y") %><br> 
                  Jeudi <%= (6.days.ago.beginning_of_week + 3.days).strftime("%d/%m/%Y") %><br> 
                  Vendredi <%= (6.days.ago.beginning_of_week + 4.days).strftime("%d/%m/%Y") %><br> 
                  Samedi <%= (6.days.ago.beginning_of_week + 5.days).strftime("%d/%m/%Y") %><br> 
                  Dimanche <%= (6.days.ago.beginning_of_week + 6.days).strftime("%d/%m/%Y") %><br> 
                  <strong>Total de la semaine</strong>
                  </li>
                </ul>
              </div>

                  
                  
              <div class="col-md-6 col-xs-6">
                <ul class="list-group">
                  <li class="list-group-item text-center">
                  <%= employee.display_duration_entree_last_monday %><br> 
                  <%= employee.display_duration_entree_last_tuesday %><br>                  
                  <%= employee.display_duration_entree_last_wednesday %><br>                  
                  <%= employee.display_duration_entree_last_thursday %><br>
                  <%= employee.display_duration_entree_last_friday %><br>                  
                  <%= employee.display_duration_entree_last_saturday %><br>                  
                  <%= employee.display_duration_entree_last_sunday %><br>                 
                  <strong><%= employee.display_duration_entree_last_week %></strong>
                  </li>
                </ul>
              </div>
            </div>

          <% else %>

          <% end %>

        <% end %>
    </div>
  </div>
</div>
        <% else %>

        blibli

        <% end %>

