<% if user_signed_in? %>

	<%= simple_form_for(@attendance) do |f| %>
	  <%= f.error_notification %>

    	<%= @attendance.id %>
    	<%= f.input :employees_id %>
	    <%= f.input :in, :value => true %>
	    <%= f.input :created_at %>
	    <%= f.input :content %>

  
  	<div class="form-actions">

    	<%= f.button :submit, class: "btn btn-default" %>

  	</div>

  	<% end %>

<% else %>

blabla

<% end %>
