<% if user_signed_in? %>

	<%= simple_form_for(@attendance) do |f| %>
	  <%= f.error_notification %>

    	<%= @attendance.id %><br>
      <%= @attendance.employee_id %>
      <%= @attendance.employee.full_name %>


      <%= f.collection_select :employee_id, Employee.all, :id, :full_name, {prompt: true} %>


      
      <%= f.input :created_at %>
	    

      <select class="form-control">
        <option><%= f.input :content, :value => "entree" %></option>
        <option><%= f.input :content, :value => "sortie" %></option>        
      </select>

  
  	<div class="form-actions">

    	<%= f.button :submit, class: "btn btn-default" %>

  	</div>

  	<% end %>

<% else %>

blabla

<% end %>
