<% if user_signed_in? %>



<h1>Mouvements des deux derniers mois</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Travailleur</th>
      <th>Mouvement</th>
      <th>Date</th>
      <th>Heure</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @attendances.last_two_months.each do |attendance| %>
      <tr>
        <td><%= attendance.employee.full_name %></td>
        <td><%= attendance.content %></td>
        <td><%= attendance.created_at.strftime("%A %d/%m/%Y") %></td>
        <td><%= attendance.created_at.strftime("%H:%M") %>
            <%= link_to edit_attendance_path(attendance) do %>
                      <span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
            <% end %>

        </td>
        
        
        </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- <%= link_to 'New Attendance', new_attendance_path %> -->

<% else %>

<h2 class="text-center">Vous devez être connecté pour continuer.</h2><br>
<h2 class="text-center">Sinon, vous pouvez cliquer sur Retour.</h2>
<p>
<h4 class="text-center">
  <%= link_to 'Retour', employees_path, class: "btn btn-warning btn-lg" %>
</h4>
</p>

<% end %>

