<p id="notice"><%= notice %></p>

<% if user_signed_in? %>

  <%= simple_form_for(@attendance) do |f| %>
    <%= f.error_notification %>

      <strong>ID: </strong> <%= @attendance.id %><br>

      <strong>Nom: </strong><%= @attendance.employee.full_name %><br><br>

      <strong>Date: </strong><%= @attendance.created_at.strftime("%A %d/%m/%Y") %><br>
      <strong>Heure: </strong><%= @attendance.created_at.strftime("%H:%M") %><br>
      <br>
      <strong>Mouvement: </strong><%= @attendance.content %><br>
      <br>

  <% end %>

<% else %>

      <h2 class="text-center">Vous devez être connecté pour continuer.</h2><br>
      <h2 class="text-center">Sinon, vous pouvez cliquer sur Retour.</h2>
      <p>
      <h4 class="text-center">
        <%= link_to 'Retour', employees_path, class: "btn btn-warning btn-lg" %>
      </h4>
      </p>


<% end %>