<p id="notice"><%= notice %></p>

<% if user_signed_in? %>

	<%= simple_form_for(@attendance) do |f| %>
	  <%= f.error_notification %>
    	
      <%= f.collection_select :employee_id, Employee.all, :id, :full_name, {prompt: true} %>
     
      <%= f.input :created_at %>

      <!-- <select class="form-control">
        <option><%= f.input :content, :value => "entree" %></option>
        <option><%= f.input :content, :value => "sortie" %></option>        
      </select> -->

  
	  	<div class="form-actions">

	    	<%= f.button :submit, class: "btn btn-default" %>

	  	</div>

  	<% end %>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>

<% else %>

<h2 class="text-center">Vous devez être connecté pour continuer.</h2><br>
<h2 class="text-center">Sinon, vous pouvez cliquer sur Retour.</h2>
<p>
<h4 class="text-center">
  <%= link_to 'Retour', employees_path, class: "btn btn-warning btn-lg" %>
</h4>
</p>


<% end %>