<% if user_signed_in? %>   
  <li><%= link_to 'Travailleurs', root_path %></li>
  <li><%= link_to 'Mouvements', attendances_path %></li>
  <li><%= link_to 'Rapports', users_path %></li>
  <li><%= link_to 'Déconnexion', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Admin', new_user_session_path %></li>
<% end %>

